input[name="search"], input[name="replace"], #select_tables {
	width: 100%;
	max-width: 400px;
}

.search-replace-modal-table {
	width: 100%;
	border: 1px solid #e5e5e5;
	table-layout: fixed;
	margin-bottom: 10px;

}

.search-replace-modal-table * {
	word-wrap: break-word;
	vertical-align: baseline;
}

.insr_sql_button_wrap .button {
	margin: 5px;
}

/*width of file upload input on import page */
#file_to_upload {
	width: 100%;
}




