input[name="search"], input[name="replace"], #select_tables {
	width: 100%;
	max-width: 400px;
}

.search-replace-modal-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	z-index: 159900;
}

.search-replace-modal {
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	z-index: 160000;
	background-color: #fff;
	overflow: auto;
}

.search-replace-modal-table {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 30px;

}

.search-replace-modal-table * {
	word-wrap: break-word;
	vertical-align: baseline;
}

.search-replace-modal-table col:nth-child(1) {
	width: 30px;
}

.search-replace-modal-table col:nth-child(2) {
	width: 30px;
}

.search-replace-modal-table col:nth-child(3) {
	width: 100px;
}

.search-replace-modal-table col:nth-child(4) {
	width: 150px;
}
.search-replace-modal-table col:nth-child(5) {
	width: 100px;
}
.search-replace-modal-table col:nth-child(7) {
	width: 100px;
}
.search-replace-modal-table tr:nth-child(odd){
	background-color: #eee;
}

.search-replace-modal-table-headline {
	margin-left: 10px;
	font-weight: 300;
}
.insr_sql_button_wrap .button {
	margin: 5px;
}

.disabled, .form-table .disabled th {
	color: grey;

}



/*width of file upload input on import page */
#file_to_upload {
	width: 100%;
}




