# General
.DS_Store
._*

# npm
node_modules/

# WP SVN
.svn/

# Locks
composer.lock

# Vendor (e.g. Composer)
vendor/*

# Assets
*.min.css
*.min.js

# Package
*.zip

# IDE PhpStorm
.idea/
*.ipr
*.iws
