<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="test/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Plugin php unit tests">
			<directory suffix="Test.php">./test/PHPUnit</directory>
		</testsuite>
	</testsuites>
</phpunit>