<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutChangesToGlobalState="true"
	backupGlobals="true"
	backupStaticAttributes="true"
	processIsolation="true"
	stopOnError="true"
	stopOnFailure="true"
>
	<testsuites>
		<testsuite name="unit tests">
			<directory suffix="Test.php">tests/UnitTests</directory>
		</testsuite>
	</testsuites>

	<php>
		<const name="DB_HOST" value="127.0.0.1"/>
		<const name="DB_USER" value="travis"/>
		<const name="DB_PASSWORD" value=""/>
		<const name="DB_NAME" value="test__database"/>
	</php>

	<filter>
		<whitelist>
			<directory suffix=".php">./inc</directory>
			<file>./</file>
		</whitelist>
	</filter>

</phpunit>