textarea[name="search"], input[name="search"], input[name="replace"], #select_tables {
	width:     100%;
	max-width: 400px;
}

.search-replace-search-value {
	background-color: rgba(239, 49, 54, 0.4);
}

.search-replace-replace-value {
	background-color: rgba(158, 219, 126, 0.6);
}

.disabled, .form-table .disabled th {
	color: grey;
}

/*width of file upload input on import page */
#file_to_upload {
	width: 100%;
}

/*styles for "detailed view" modal */
.search-replace-modal {
	position:         fixed;
	top:              30px;
	left:             30px;
	right:            30px;
	bottom:           30px;
	z-index:          160000;
	background-color: #fff;
	overflow:         hidden;
}

/* set to body */
.search-replace-modal-open {
	overflow: hidden;
}

.search-replace-modal-background {
	position:   fixed;
	top:        0;
	left:       0;
	right:      0;
	bottom:     0;
	min-height: 360px;
	background: #000;
	opacity:    .7;
	z-index:    159900;
}

.search-replace-modal-header .notice-dismiss {
	/* because of the closer floating */
	overflow: hidden;
	padding:  5px 1px;
}

.search-replace-changes-modal-content {
	height:   calc(100% - 50px);
	overflow: auto;
	padding:  0 1.63em;
	position: absolute;
	top:      50px;
}

.search-replace-modal-table {
	width:         100%;
	table-layout:  fixed;
	margin-bottom: 30px;
}

.search-replace-modal-table * {
	word-wrap:      break-word;
	vertical-align: baseline;
}

.search-replace-modal-table .search-replace-narrow {
	width: 50px;
}

.search-replace-modal-table th,
.search-replace-modal-table td {
	padding: .43em;
}

.search-replace-modal-table .search-replace-row {
	text-align: center;
}

.search-replace-modal-table .search-replace-column {
	width: 150px;
}

.search-replace-modal-table tr:nth-child(odd) {
	background-color: #eee;
}

.search-replace-modal-table-headline {
	margin-left: 10px;
	font-weight: 300;
}

.search-replace-modal-close-button {
	cursor:     pointer;
	background: #fff;
	border:     none;
	float:      right;
	padding:    15px;
}

.search-replace-modal-close-button:before {
	content:                 "\f158";
	font:                    400 20px/1 dashicons;
	vertical-align:          middle;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:                   #666;
}

#insr_submit {
	margin-bottom: 10px;
}
