// Base Colors *****************************************************************
//
// @link http://chir.ag/projects/name-that-color/
//

$color__black: #000;
$color__white: #fff;

$color__tuna: #3c3d46;
$color__mine-shaft: #222; // thats the color for fonts on our Inpsyde-green~

// flat colors
$color__clouds: #ecf0f1;

// Inpsyde
$color__inpsyde: #9fc65d;
$color__inpsyde--dark: #5c792b;

// Social colors
$color__twitter: #55acee;
$color__facebook: #3b5998;
$color__google: #dd4b39;
$color__pinterest: #bd081c;